@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
</div>
<div class="text-left">
    <p>
        <b>Momentum Sports</b> is a sports company focusing on all athletics events, with a primary focus on running. 
        Set up in 2000 we've grown year on year since then, to the point where we are now one of the biggest set ups in the UK. 
        We aim to provide a full range of services for athletes from professional, fully qualified coaching both in person and online to 100s of pages of free athletics information, sponsorship to elite athletes we coach, sports therapy, massage, nutrition and much more.
    </p>
    <p>
        We are based at Kingsmeadow Athletics centre in Kingston (click <a href="https://www.google.com/search?rlz=1C1CHBF_en-GBGB897GB897&sxsrf=ALeKk03pEqqLn9xGPLnDDaWLlAJkSRp16g%3A1609164870088&ei=RujpX9HvBLyDhbIPsu-CgAM&q=kingsmeadow+athletics+track&oq=kingsmeadow+athletics+track&gs_lcp=CgZwc3ktYWIQAzIECCMQJzINCC4QxwEQrwEQyQMQJzICCAA6BAgAEEdQ6a4CWOmuAmCntAJoAHACeACAAXSIAXSSAQMwLjGYAQCgAQGqAQdnd3Mtd2l6yAEIwAEB&sclient=psy-ab&ved=0ahUKEwjRqt2j7vDtAhW8QUEAHbK3ADAQ4dUDCA0&uact=5">here</a> to view the address on Google), and we have our main sessions on Tuesday and Thursday evenings. 
        To find out more about our sessions, and our coaching set up, click <a href="@Url.Action("Index", "Coaching")">here</a>
    </p>
</div>