@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Competition Organiser</h1>
    <br />
    <h2>Welcome to your Competition Organiser</h2>
</div>

<br />

<div class="text-left">
    <p>
        This website is an easier way for you to see where your next race is, or see your results from previous races.
        <br />
        Click the links above or below to navigate through the website.
    </p>
    <br />
    <a href="@Url.ActionLink("Index", "RaceSchedules")">Race Schedule</a>
    <br />
    <br />
    <a href="@Url.ActionLink("Index", "RaceResults")">Race Results</a>
</div>
