@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Competition Organiser</h1>
    <br />
    <h2>Welcome to your Competition Organiser</h2>
</div>

<div class="text-left">
    <p>
        This website is an easier way for you to see where your next race is and see your results from previous races.
        <br />
        Click the links above or below to navigate through the website.
    </p>
</div>
